<!-- Post -->
<article class="post-sm">
	<!-- Post Image -->
	<div class="post-thumb">
		<a href="@@href"><img class="w-100" src="@@img-src" alt="Post-Image"></a>		
	</div>
	<!-- Post Title -->
	<div class="post-title">
		<h3><a href="@@href">@@post-title</a></h3>
	</div>
	<!-- Post Meta -->
	<div class="post-meta">
		<ul class="list-inline post-tag">
			<li class="list-inline-item">
				<img src="images/c_logo.png" alt="author-thumb">
			</li>
			<li class="list-inline-item">
				<a href="#">청소광</a>
			</li>
			<li class="list-inline-item">
				@@writeDate
			</li>
		</ul>
	</div>
	<!-- Post Details -->
	<div class="post-details">
		<p>@@desc</p>
	</div>
</article>